<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head ('Posts')">
</head>

<body>
<header th:replace="partials/partials.html :: navbar"></header>
<!--<fieldset>-->
<!--    <legend>Add a Post</legend>-->
<!--    <form action="/post/create" method="post">-->
<!--        <label for="title">Title:</label>-->
<!--        <input type="text" id="title" name="title">-->
<!--        <label for="description">Description:</label>-->
<!--        <input type="text" id="description" name="description">-->
<!--        <label for="awesome">Awesome status:</label>-->
<!--        <select name="awesome" id="awesome">-->
<!--            <option value="true">True</option>-->
<!--            <option value="false">False</option>-->
<!--        </select>-->
<!--        <label for="post-history">Date:</label>-->
<!--        <input type="date" id="post-history" name="post-history">-->
<!--        <label for="topic">Topic Description:</label>-->
<!--        <input type="text" id="topic" name="topic">-->
<!--        <input type="submit" value="submit">-->
<!--    </form>-->
<!--</fieldset>-->



<div class="container w-50 card px-3 py-5 form-bg">

    <h2 class="text-center">Create A Post!</h2>
    <form action="/post/create" method="post" th:object="${post}">
        <div class="form-group py-1">
            <label for="title">Title</label>
            <input id="title" th:field="*{title}" class="form-control" type="text">
        </div>
        <div class="form-group py-1">
            <label for="description">Description</label>
            <textarea id="description" th:field="*{description}" class="form-control" type="text">
            </textarea>
        </div>
        <div class="form-group py-1">
            <label for="awesome">Awesome status:</label>
            <select th:field="*{postDetails.awesome}" id="awesome" class="form-select">
                <option value="true" selected >Very Awesome</option>
                <option value="false">Not Awesome</option>
            </select>
        </div>
        <div class="form-group py-1">
            <input type="hidden" id="post-history" name="post-history" class="form-control" th:value="${currentDate}">
        </div>
        <div class="form-group py-1">
            <label for="topic">Topic Description:</label>
            <input type="text" id="topic" th:field="*{postDetails.topicDescription}" class="form-control">
        </div>

        <div>Select Tags:</div>
        <div class="w-100 d-flex">
            <div class="w-25">
                <input type="checkbox" id="silly" th:field="*{postTags}" value="1">
                <label for="silly">Silly</label><br>
                <input type="checkbox" id="funny" th:field="*{postTags}" value="2">
                <label for="funny">Funny</label><br>
            </div>
            <div class="w-25">
<!--                <input type="checkbox" id="" th:field="*{postTags}" value="1">-->
<!--                <label for="silly">Silly</label><br>-->
                <input type="checkbox" id="humor" th:field="*{postTags}" value="3">
                <label for="humor">Humor</label><br>
            </div>
        </div>


<!--        </div>-->

        <div class="form-group py-1">
            <label for="image1">Image 1   (*Optional)</label>
            <input id="title1" th:field="*{postImages[0].imageTitle}" class="form-control" type="text" placeholder="Image Title">
            <input id="image1" th:field="*{postImages[0].imageUrl}" class="form-control" type="url" placeholder="Image Url">
        </div>
        <div class="form-group py-1">
            <label for="image2">Image 2   (*Optional)</label>
            <input id="title2" th:field="*{postImages[1].imageTitle}" class="form-control" type="text" placeholder="Image Title">
            <input id="image2" th:field="*{postImages[1].imageUrl}" class="form-control" type="url" placeholder="Image Url">
        </div>
<!--        <div class="form-group py-1">-->
<!--            <label for="image3">Image 3   (*Optional)</label>-->
<!--            <input id="title3" th:field="*{postImages[2].imageTitle}" class="form-control" type="text" placeholder="Image Title">-->
<!--            <input id="image3" th:field="*{postImages[2].imageUrl}" class="form-control" type="url" placeholder="Image Url">-->
<!--        </div>-->
<!--        <div class="form-group py-1">-->
<!--            <label for="image4">Image 4   (*Optional)</label>-->
<!--            <input id="title4" th:field="*{postImages[3].imageTitle}" class="form-control" type="text" placeholder="Image Title">-->
<!--            <input id="image4" th:field="*{postImages[3].imageUrl}" class="form-control" type="url" placeholder="Image Url">-->
<!--        </div>-->

<!--                    <div th:each="postimage : ${post.postImages}" class="form-group py-1">-->
<!--                        <label><span th:text="${postimage.imageTitle}"></span></label>-->
<!--                        <input name="url" type="text" th:value="${postimage.imageUrl}" class="form-control">-->
<!--                    </div>-->

        <div class="pt-5 text-end">
            <input type="submit" class="btn btn-block btn-primary">
        </div>

    </form>


<!--    <div th:if="${post.postImages.size() <= 3}">-->
<!--        <form action="/posts/add" method="post">-->
<!--            <h4 class="text-center mt-2">Add an additional image here</h4>-->
<!--            <div class="form-group py-1">-->
<!--                <label for="add-image">New image title</label>-->
<!--                <input id="add-image-title" name="title-add" class="form-control" type="text">-->
<!--                <label for="add-image-title">New image url</label>-->
<!--                <input id="add-image" name="image-add" class="form-control" type="url">-->
<!--                <input name="id" type="hidden" th:value="${post.id}">-->
<!--                <div class="pt-5 text-end">-->
<!--                    <input type="submit" class="btn btn-block btn-primary">-->
<!--                </div>-->
<!--            </div>-->


            <!--            <div class="d-flex justify-content-between">-->
            <!--                <div class="pt-4 text-start">-->
            <!--                    <a href="/profile">Return to Profile</a>-->
            <!--                </div>-->

            <!--            </div>-->



<!--        </form>-->
    </div>



</body>
</html>