<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials/partials.html :: head ('Post')"></head>

<body>
<header th:replace="partials/partials.html :: navbar"></header>

<div class="container d-flex flex-wrap w-100">

<!--<h3><span th:text="${post.title}"></span></h3>-->
<!--<p><span th:text="${post.description}"></span></p>-->

<!--<div style="width: 100%; display: flex; flex-wrap: wrap">-->
<!--    <div th:each="postimage : ${post.postImages}">-->
<!--        <img th:src="${postimage.imageUrl}" class="card-img-top" alt="..." style="width: 298px; height: 200px">-->
<!--    </div>-->
<!--</div>-->


<div class="container mt-5 mb-3 text-center">
    <h6><a href="/posts" style="color: blue; text-decoration-line: underline;">Return to Posts</a></h6>
</div>
<div class=" mt-0 container d-flex flex-wrap justify-content-around px-0 w-50">




        <div class="card">
            <div class="card-body form-bg">
                <div class="d-flex">
                    <h3 class=" w-50 card-title px-3 py-1"><span th:text=" ${post.title}"></span></h3>
                    <p class="w-50 px-1 mb-0 text-end text-muted" >Date Posted:  <span th:text="${post.getPostDetails().getHistoryOfPost()}"></span></p>
                </div>
                <p class="card-text px-3 py-1"><span th:text=" ${post.description}"></span></p>
            </div>
            <div class="w-100" style="height: 650px">
                <div style="width: 100%; display: flex; flex-wrap: wrap" class="text-center justify-content-center">
                    <div th:each="postimage : ${post.postImages}">
                        <div th:text="${postimage.imageTitle}"> </div>
                        <img th:src="${postimage.imageUrl}" class="card-img-top" alt="..." style="width: 298px; height: 200px">
                    </div>
                </div>
            </div>
        </div>

</div>

<!--<p>Posted by:<span th:text="${post.getOwner().getUsername()}"></span></p>-->
    <form id="imgDelete" action="/posts/delete/img" method="post"></form>
    <form id="imgDelete2" action="/posts/delete/img" method="post"></form>
    <form id="imgDelete3" action="/posts/delete/img" method="post"></form>
    <form id="imgDelete4" action="/posts/delete/img" method="post"></form>
    <form id="editPost" action="/posts/edit" method="post" th:object="${post}"></form>
    <div class="container w-50 card px-3 py-5 form-bg">
<!--        <div th:if="${post.postImages.size() > 3}">-->
            <h2 class="text-center">Edit Post</h2>

<!--            <form action="/posts/edit" method="post">-->
                <div class="form-group py-1">
                    <label for="title">Title</label>
                    <input form="editPost" id="title" name="post-title" class="form-control" type="text" th:field="*{post.title}">
                    <input form="editPost" name="id" type="hidden" th:field="*{post.id}">
                </div>
                <div class="form-group py-1">
                    <label for="description">Description</label>
                    <input form="editPost" style="height:100px;" id="description" name="description" class="form-control" th:field="*{post.description}" type="text">
                </div>

                <div class="form-group py-1" th:if="${post.postImages.size() > 0}">
                    <label for="image1">Image 1 (Title & Url)</label>

                    <div class="w-100 d-flex">
                        <div class="w-50">
                            <input form="editPost" id="title1" name="title1" class="form-control" type="text" th:field="*{post.postImages[0].imageTitle}">
                        </div>
                        <div class="w-50 text-end">
                                <input form="imgDelete" name="img" type="hidden" th:value="${post.postImages[0].id}">
                                <button form="imgDelete" style="height: 38px" class="btn-danger ">Delete</button>
                        </div>
                    </div>

                    <input form="editPost" name="id1" type="hidden" th:field="*{post.postImages[0].id}">
                    <input form="editPost" id="image1" name="image1" class="form-control" type="url" th:field="*{post.postImages[0].imageUrl}">
                </div>


                <div class="form-group py-1" th:if="${post.postImages.size() > 1}">
                    <label for="image2">Image 2 (Title & Url)</label>


                    <div class="w-100 d-flex">
                        <div class="w-50">
                            <input form="editPost" id="title2" name="title[]" class="form-control" type="text" th:field="*{post.postImages[1].imageTitle}">
                        </div>
                        <div class="w-50 text-end">
                            <input form="imgDelete2" name="img1" type="hidden" th:value="${post.postImages[1].id}">
                            <button form="imgDelete2" style="height: 38px" class="btn-danger ">Delete</button>
                        </div>
                    </div>


<!--                    <input form="editPost" id="title2" name="title2" class="form-control" type="text" th:value="${post.postImages[1].imageTitle}">-->
                    <input form="editPost" name="id2" type="hidden" th:field="*{post.postImages[1].id}">
                    <input form="editPost" id="image2" name="image2" class="form-control" type="url" th:field="*{post.postImages[1].imageUrl}">
                </div>


                <div class="form-group py-1" th:if="${post.postImages.size() > 2}">
                    <label for="image3">Image 3 (Title & Url)</label>

                    <div class="w-100 d-flex">
                        <div class="w-50">
                            <input form="editPost" id="title3" name="title3" class="form-control" type="text" th:field="*{post.postImages[2].imageTitle}">
                        </div>
                        <div class="w-50 text-end">
                            <input form="imgDelete3" name="img1" type="hidden" th:value="${post.postImages[2].id}">
                            <button form="imgDelete3" style="height: 38px" class="btn-danger ">Delete</button>
                        </div>
                    </div>


                    <!--                    <input form="editPost" id="title3" name="title3" class="form-control" type="text" th:value="${post.postImages[2].imageTitle}">-->
                    <input form="editPost" name="id3" type="hidden" th:field="*{post.postImages[2].id}">
                    <input form="editPost" id="image3" name="image3" class="form-control" type="url" th:field="*{post.postImages[2].imageUrl}">
                </div>
                <div class="form-group py-1" th:if="${post.postImages.size() > 3}">
                    <label for="image4">Image 4 (Title & Url)</label>


                    <div class="w-100 d-flex">
                        <div class="w-50">
                            <input form="editPost" id="title4" name="title4" class="form-control" type="text" th:field="*{post.postImages[3].imageTitle}">
                        </div>
                        <div class="w-50 text-end">
                            <input form="imgDelete4" name="img1" type="hidden" th:value="${post.postImages[3].id}">
                            <button form="imgDelete4" style="height: 38px" class="btn-danger ">Delete</button>
                        </div>
                    </div>


<!--                    <input form="editPost" id="title4" name="title4" class="form-control" type="text" th:value="${post.postImages[3].imageTitle}">-->
                    <input form="editPost" name="id4" type="hidden" th:field="*{post.postImages[3].id}">
                    <input  form="editPost" id="image4" name="image4" class="form-control" type="url" th:field="*{post.postImages[3].imageUrl}">
                </div>
                                                            <!--REFACTOR LIKE THIS SOMEDAY-->
    <!--            <div th:each="postimage : ${post.postImages}" class="form-group py-1">-->
    <!--                <label><span th:text="${postimage.imageTitle}"></span></label>-->
    <!--                <input name="url" type="text" th:value="${postimage.imageUrl}" class="form-control">-->
    <!--            </div>-->
                <div class="pt-5 text-end">
                    <input form="editPost" type="submit" class="btn btn-block btn-primary">
                </div>


<!--            </form>-->


        <div th:if="${post.postImages.size() <= 3}">
            <form action="/posts/add" method="post">
                    <h4 class="text-center mt-2">Add an additional image here</h4>
                    <div class="form-group py-1">
                        <label for="add-image">New image title</label>
                        <input id="add-image-title" name="title-add" class="form-control" type="text">
                        <label for="add-image-title">New image url</label>
                        <input id="add-image" name="image-add" class="form-control" type="url">
                        <input name="id" type="hidden" th:value="${post.id}">
                        <div class="pt-5 text-end">
                            <input type="submit" class="btn btn-block btn-primary">
                        </div>
                    </div>


    <!--            <div class="d-flex justify-content-between">-->
    <!--                <div class="pt-4 text-start">-->
    <!--                    <a href="/profile">Return to Profile</a>-->
    <!--                </div>-->

    <!--            </div>-->



            </form>

        </div>

    </div>
<!--<form action="/posts/edit" method="post">-->
<!--    <input type="hidden" name="id" th:value="${post.id}">-->
<!--    <label for="title"></label>-->
<!--    <input type="text" id="title" name="title" th:value="${post.title}">-->
<!--    <label for="description"></label>-->
<!--    <input style="width: 50%" type="text" id="description" name="description" th:value="${post.description}">-->
<!--    <button>Update</button>-->
<!--</form>-->

<!--<form action="/posts/edit" method="post">-->
<!--    <label for="image">Add image</label>-->
<!--    <input type="text" name="image" id="image">-->
<!--    <input type="hidden" name="id" th:value="${post.id}">-->
<!--    <label for="text">Add Title</label>-->
<!--    <input type="text" name="title" id="text">-->
<!--    <button>Add Image</button>-->
<!--</form>-->



</div>
<!--<script th:replace="partials/partials.html :: bootstrap-js"></script>-->
</body>
</html>