<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head ('Ads search')">
</head>

<body>

<form action="/ads/search" method="post">
    <label for="findAd">Find an Ad by its Title:</label>
    <input type="text" id="findAd" name="title">
    <input type="submit" value="Search">
</form>

<div th:if="${results}">
    <ul>
        <li th:each="result : ${results}">
            <h2 th:text="${result.title}"></h2>
            <p th:text="${result.description}"></p>
        </li>
    </ul>
</div>

</body>
</html>